<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/public/stylesheet.css' />

    <script>


    //var rainouts = '<%= reportsByYear[0].year %>'; 
    var rainouts = '<%= reportsByYear[0].year %>';  
    console.log(rainouts)
    document.addEventListener('DOMContentLoaded', () => {  
        if (rainouts != '') {
            document.querySelector('#yearTable').style = "display: block";
        }        
    })
        
    </script>
   
</head>
<body>
    <div class="container">

        <div class="header">
            <%- include ('templates/header.ejs') %>
        </div>
        <div class="header-r">
            <%- include ('templates/header_r.ejs') %>
        </div>

        <div class="navigation" style="border-right: 1px solid #000;">
            <%- include ('templates/navigation.ejs') %>
        </div>

        <div class="content">
            <div class="_75" style="text-align: center; font-size: 18px; font-weight: bold;">RAINOUT REPORT</div>
            <div class='_25'><br><br><br></div>
            <div class="_25" style = "display: none" id="yearTable">
                <table  >
                    <thead>
                        <tr>
                            <td colspan="3"><%= reportsByYear[0].year %></td>
                        </tr>
                        <th></th>
                        <th>Month</th>
                        <th>Counts</th>
    
                    </thead>
                    <tbody>
                        <% for(let i =0;i < reportsByYear.length; i++){ %>
                            <tr>
                                <td><%= i + 1  %></td>
                                <td><%= reportsByYear[i].month %></td>
                                <td><%= reportsByYear[i].count %></td>
                            </tr>
                        <% } %>                      
                    </tbody>
                </table> 
            </div>
            <div class="_75">
                <table id="table">
                    <thead>
                        <th></th>
                        <th>Date</th>
                        <th>Affected area</th>
                        <th>Area ID</th>
    
                    </thead>
                    <tbody>
                        <% for(let i =0;i < rows.length; i++){ %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= rows[i].date %></td>
                                <td><%= rows[i].Area_name %></td>
                                <td><%= rows[i].Area_ID %></td>
                                </tr>
                        <% } %>                      
                    </tbody>
                </table> 
            </div>
             
            <!-- <div style="text-align: center; font-size: 18px">Total: </div>    -->
        </div>

        <div class="footer">© Team 12 - COSC 3080 - Tue/Thu Class</div>
    </div>
</body>
</html>